<h1>Order <%= @order.id  %></h1>
  <p>First name: <%= @order.first_name %></p>
  <p>Last name: <%= @order.last_name %></p>
<h3> Pizza: </h3>
  <p>Topping: <%= @order.topping %></p>
  <p>Quantity: <%= @order.quantity %></p>
  <p><a href="/pizza-orders/order-deleted/<%= @order.id %>">Delete order</a></p>
